<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>

<body>
    <div id="app">
        {{formData}}
        <p><input v-model="inputText" value="initial value">{{inputText}}</p>
        <ul>
            <li v-for="n in filterPositive(numbers)">{{n}}</li>
        </ul>
        <p>Total sum positive numbers: {{totalNumber}}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="app/index.js"></script>
</body>

</html>